@import "tailwindcss";

@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Suisse", sans-serif;
}

body {
  color: #3a3a3a;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #B9B9B9;
  border-right-color: #19aa1e;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}